/** ================== Credits ============================
Author: M_Rahman
Source: RexVel Web Solution
URL : https://rexvel.com
Blog: https://blog.rexvel.com 
( Note: Don't Change credit area. It's completely free. )
===================== Thank You!! ========================**/
html *,
html *:before,
html *:after {
  transition: 0.5s ease-in-out;
}
html i, html em,
html b, html strong,
html span {
  transition: none;
}
*:before,
*:after {
  z-index: -1;
}
body {
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: black;
  }

a {
  text-decoration: none;
  line-height: 80px;
}
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container .wrap a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid red;
  color: red;
  float: left;
  margin-left: 30px;
}
.container .wrap a:hover {
    color: white;
}
.swipe:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f82d2d;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.swipe:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.dia-swipe:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #f82d2d;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.dia-swipe:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.dou-close:before, .dou-close:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 80px solid #f82d2d;
}
.dou-close:before {
  right: -50px;
  border-right: 50px solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.dou-close:after {
  left: -50px;
  border-left: 50px solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.dou-close:hover:before {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
.dou-close:hover:after {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}
.dia-close:before, .dia-close:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dia-close:before {
  right: -50px;
  border-right: 50px solid transparent;
  border-bottom: 80px solid#f82d2d;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.dia-close:after {
  left: -50px;
  border-left: 50px solid transparent;
  border-top: 80px solid #f82d2d;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.dia-close:hover:before {
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}
.dia-close:hover:after {
  -webkit-transform: translateX(49%);
          transform: translateX(49%);
}
.zoning-in:before, .zoning-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 40px solid #f82d2d;
  border-bottom: 40px solid #f82d2d;
}
.zoning-in:before {
  border-right: 40px solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.zoning-in:after {
  border-left: 40px solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.zoning-in:hover:before {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.zoning-in:hover:after {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.corners:before, .corners:after,
.corners span:before,
.corners span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f82d2d;
}
.corners:before {
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}
.corners:after {
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}
.corners span:before {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
.corners span:after {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}
.corners:hover:before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.corners:hover:after {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.corners:hover span:before {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.corners:hover span:after {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.slice:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #f82d2d transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.slice:before {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #f82d2d;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slice:before, .slice:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.slice:before {
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #f82d2d;
}
.slice:after {
  top: 0;
  right: 0;
  border-color: transparent #f82d2d transparent transparent;
}
.slice:hover:before, .slice:hover:after {
  border-width: 80px 262.5px;
}
.positn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #f82d2d;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.positn:hover span {
  width: 225%;
  height: 562.5px;
}
.positn:active {
  background-color: #f82d2d;
}
.alternate:before, .alternate:after,
.alternate span:before,
.alternate span:after {
  content: '';
  position: absolute;
  top: 0;
  width: 25.25%;
  height: 0;
  background-color: #f82d2d;
}
.alternate:before {
  left: 0;
}
.alternate:after {
  left: 50%;
}
.alternate span:before, .alternate span:after {
  top: auto;
  bottom: 0;
}
.alternate span:before {
  left: 25%;
}
.alternate span:after {
  left: 75%;
}

.alternate:hover:before, .alternate:hover:after,
.alternate:hover span:before,
.alternate:hover span:after {
  height: 80px;
}
.smoosh:before, .smoosh:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f82d2d;
}
.smoosh:before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.smoosh:after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.smoosh:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.smoosh:hover:after {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.ver-overlap:before, .ver-overlap:after,
.ver-overlap span:before,
.ver-overlap span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #f82d2d;
  transition: 0.4s ease-in-out;
}
.ver-overlap:after,
.ver-overlap span:before {
  top: auto;
  bottom: 0;
}
.ver-overlap span:before,
.ver-overlap span:after {
  transition-delay: 0.4s;
}
.ver-overlap:hover:before, .ver-overlap:hover:after,
.ver-overlap:hover span:before,
.ver-overlap:hover span:after {
  height: 80px;
}
.ver-overlap:active {
  background-color: #f82d2d;
}

.hor-overlap:before, .hor-overlap:after,
.hor-overlap span:before,
.hor-overlap span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 80px;
  background-color: #f82d2d;
  transition: 0.4s;
}
.hor-overlap:after,
.hor-overlap span:before {
  left: auto;
  right: 0;
}
.hor-overlap span:before,
.hor-overlap span:after {
  transition-delay: 0.4s;
}
.hor-overlap:hover:before, .hor-overlap:hover:after,
.hor-overlap:hover span:before,
.hor-overlap:hover span:after {
  width: 250px;
}
.hor-overlap:active {
  background-color: #f82d2d;
}
.coolis {
  position: relative;
}
.coolis:before, .coolis:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #f82d2d;
  border-radius: 50%;
}
.coolis:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.coolis:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.coolis:hover:before {
  -webkit-animation: clsois-left 0.8s both;
          animation: clsois-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.coolis:hover:after {
  -webkit-animation: clsois-right 0.8s both;
          animation: clsois-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes clsois-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      width: 375px;
      height: 375px;
    }
  }
  @keyframes clsois-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      width: 375px;
      height: 375px;
    }
  }
  
  
  /** ================== Credits ============================
Author: M_Rahman
Source: RexVel Web Solution
URL : https://rexvel.com
Blog: https://blog.rexvel.com 
( Note: Don't Change credit area. It's completely free. )
===================== Thank You!! ========================**/